
body{
	background: #fff;
	background-repeat: repeat-x, repeat;
	font-family: calibri;
	width: 520px;
	margin: auto;
	font-size: 12px;
}

a {
	color: #fff;
}
/* FIN PROPRIETES DE BASE */




.connexionZone{
	background-color: #3b5998;
	margin-top: 40px;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	line-height: 10px;
}

input[type=text], input[type=password]{
	border: 1px solid #394358;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	width: 250px;
	border-radius: 3px;
	display: block;
}

input[type=submit].submit{
	background: #95a4c1; /* Old browsers */
	background: -moz-linear-gradient(top,  #95a4c1 0%, #637bad 6%, #5872a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a4c1), color-stop(6%,#637bad), color-stop(100%,#5872a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #95a4c1 0%,#637bad 6%,#5872a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #95a4c1 0%,#637bad 6%,#5872a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #95a4c1 0%,#637bad 6%,#5872a7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #95a4c1 0%,#637bad 6%,#5872a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95a4c1', endColorstr='#5872a7',GradientType=0 ); /* IE6-9 */
	border-radius: 3px;
	width: 250px;
	height: 30px;
	line-height: 10px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px -1px #1a356e;
	color: #fff;
	border: 1px solid #1a356e;
	cursor: pointer;
	font-size: 14px;
}

input[type=button]{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 5%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(5%,rgba(249,249,249,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 5%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 5%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 5%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 5%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	width: 250px;
	height: 30px;
	line-height: 10px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px -1px #fff;
	color: #000;
	cursor: pointer;
	font-size: 14px;
}

